<ul class="grid">
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0677/2893/3037/files/Acura-DE5-Integra.jpg" alt="Acura DE5 Integra" />
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0677/2893/3037/files/Acura-DC5-RSX.jpg" alt="Acura DC5 RSX" />
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0677/2893/3037/files/Acura-DE5-Integra.jpg" alt="Acura DE5 Integra" />
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0677/2893/3037/files/Acura-DE5-Integra.jpg" alt="Acura DE5 Integra" />
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0677/2893/3037/files/Acura-DE5-Integra.jpg" alt="Acura DE5 Integra" />
    </li>
</ul>