<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="slider-grid">
    <div class="csf-slider-left">
      {% for block in section.blocks %}
      {% if block.type == 'side-link' %}
        {{  block.settings.image | image_url: width: 1200 | image_tag  }}
      {% endif %}
      {% endfor %}
    </div>
    <div class="csf-slider-right">
      Right hand side of slider
    </div>
  </div>
</div>
{% schema %}
{
  "name": "CSF Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.csf-slider.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "CSF Slider"
    }
  ],
  "blocks": [
    {
      "name": "Side Link",
      "type": "side-link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
.slider-grid{
  display: grid;
  grid-template-columns: 1fr;
}
.csf-slider-left{
}
.csf-slider-right{
  background: red;
  padding: 1em;
}
@media screen and (min-width: 611px) {
  .slider-grid{
    grid-template-columns: 33% 1fr;
  }
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}