<h2>Hello world</h2>
{% schema %}
{
  "name": "CSF Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.featured-youtube.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "CSF Slider"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}