<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="slider-grid">
    <div class="csf-slider-left">
      {% for block in section.blocks %}
      {% if block.type == 'side-link' %}
        <div class="side-link">
          <a href="{{ block.settings.side-link.side-link-url }}">
            {{  block.settings.image | image_url: height: 100 | image_tag  }}
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="csf-slider-right">
      {% for block in section.blocks %}
      {% if block.type == 'slide' %}
        <div class="csf-slide">
          <a href="{{ block.settings.slide.slide-url }}">
            {{  block.settings.slide-image | image_url: height: 1200 | image_tag  }}
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "CSF Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.csf-slider.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "CSF Slider"
    }
  ],
  "blocks": [
    {
      "name": "Side Link",
      "type": "side-link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "side-link-alt-text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "side-link-url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide-image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide-alt-text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "slide-url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
.slider-grid{
  display: grid;
  grid-template-columns: 1fr;
}
.side-link{
  max-width: 600px;
  max-height: 100px;
}
.csf-slide{
max-height: 600px;
}
.csf-slider-left img{
  width: 100%;
  height: auto;
}
.csf-slider-right img{
}

.csf-slider-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
order: 1;
}
.csf-slider-right{
order: 0;
}
@media screen and (min-width: 768px) {
  .slider-grid{
    grid-template-columns: 300px 1fr;

  }
  .csf-slider-left{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    order: 0;
  }
.csf-slider-left img{
}
  .csf-slider-right{
    order: 1;
  }
}

{% endstylesheet %}
{% javascript %}
{% endjavascript %}