
<div class="csf-slider-left">
    Left hand side of slider
    SLIDE LEFT BABY
    Left hand side of slider
    Left hand side of slider
    Left hand side of slider
    Left hand side of slider
    Left hand side of slider
</div>
{% schema %}
{
  "name": "CSF Slider - Left Panel",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.csf-slider.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "CSF Slider - Left Panel"
    }
  ]
}
{% endschema %}
{% stylesheet %}
.csf-slider-left{
background: pink;
padding: 1em;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}