{% if product.metafields.custom.youtube_videos %}
<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
<h2>Featured Videos</h2>
        {% assign yt_videos = product.metafields.custom.youtube_videos %}
        {% for video in yt_videos.value %}
            {% if video contains "embed" %}
                {% assign video_id = video |  remove: "https://www.youtube.com/embed/" %}
            {% elsif video contains  "https://www.youtube.com/watch?v=" %}
                {% assign video_id = video |  remove: "https://www.youtube.com/watch?v=" %}
            {% elsif video contains  "https://youtu.be/" %}
                {% assign video_id = video |  remove: "https://youtu.be/" %}
            {%  endif %}
            <div class="video-wrapper">
                <iframe class="video-iframe" src="https://www.youtube.com/embed/{{ video_id }}"
                        title="YouTube video player" referrerpolicy="strict-origin-when-cross-origin"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        {% endfor %}
</div>
{% endif %}
{% schema %}
        {
          "name": "Featured YouTube Videos",
          "settings": [
            {
              "type": "checkbox",
              "id": "include_margins",
              "default": true,
              "label": "t:sections.product-custom-finishes.settings.include_margins.label"
            }
          ],
          "presets": [
            {
              "name": "Featured YouTube Videos"
            }
          ],
          "templates": [
            "product"
          ]
        }
{% endschema %}
{% stylesheet %}
.video-iframe{
    aspect-ratio: 16/9;
    width: 100%;
    padding: 10px;
    min-width: 350px;
}
.video-wrapper{
    width: 100%;
    display: inline-block;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}