<!-- Welcome section starts -->
<section class="welcome">
  <div class="container">
    <div class="welcome-outter">
      <h2 class="section-heading">Heading 1</h2>
      <h1 class="section-large-heading">Heading 2</h1>
      <p class="discription">Lorem ipsum is placeholder text commonly used...</p>
    </div>
    <div class="col-xs-12 col-md-12 text-center"><button class="view-btn"><a href="">read more</a></button></div>
  </div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
  "name": "Section name",
  "settings": [],
  "presets": [
    {
      "name": "Welcome section Test",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}