    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.color_scheme }}">
        <div class="{% if section.settings.include_margins %}page-width{% endif %}">
            <div class="video-grid">
            {% for block in section.blocks %}
                {% if block.type == 'youtube_video' %}
                    {% if block.settings.video_url contains "embed" %}
                        {% assign video_id = block.settings.video_url |  remove: "https://www.youtube.com/embed/" %}
                    {% elsif block.settings.video_url contains  "https://www.youtube.com/watch?v=" %}
                        {% assign video_id = block.settings.video_url |  remove: "https://www.youtube.com/watch?v=" %}
                    {% elsif block.settings.video_url contains  "https://youtu.be/" %}
                        {% assign video_id = block.settings.video_url |  remove: "https://youtu.be/" %}
                    {%  endif %}
                    <div class="video-wrapper">
                        <iframe
                                class="video-iframe"
                                src="https://www.youtube.com/embed/{{ video_id }}"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% schema %}
{
  "name": "Homepage YouTube",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.featured-youtube.settings.include_margins.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Homepage YouTube"
    }
  ],
  "blocks": [
    {
      "type": "youtube_video",
      "name": "YouTube Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=Tt9Z9QL76ps",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        }
      ]
    }
  ]
}
{% endschema %}
{% stylesheet %}
.yt-padding{
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr;
  transition: all ease-in-out 0.3s;
}
.video-iframe{
  aspect-ratio: 16/9;
  width: 100%;
}
.video-wrapper{
  width: 100%;
}
@media screen and (min-width: 611px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}