
<div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.color_scheme }} hero-bg">

  <div class="{% if section.settings.include_margins %}page-width{% endif %}" style="background-color: transparent;">
      <div style="max-width: 320px; color: white; padding-top: 2rem; padding-bottom: 2rem;">
        <h2 class="page-title h1" style="margin-top: 0; margin-bottom: 1rem;">Our Story</h2>
        <p>Our story dates back almost 80 years to the beginnings of a small radiator repair shop. Since then, four generations later and still family owned, CSF has expanded across the world while staying true to our roots.</p>
        <p style="margin-bottom: 0; padding-bottom: 2rem; ">The Racing & High Performance division was founded to supply performance enthusiasts (just like ourselves) and professional racers a product that truly performs – proven in some of the most demanding races in motorsports with many world records.</p>
        <a href="#" class="button button--full-width button--secondary" style="background-color: transparent;" target="_blank">
          Learn More
        </a>
      </div>
    </div>
</div>
{% schema %}
{
  "name": "Our Story CTA",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.featured-youtube.settings.include_margins.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Our Story CTA"
    }
  ],
  "blocks": [
    {
      "type": "story_cta",
      "name": "Our Story CTA",
      "settings": [
        {
          "type": "checkbox",
          "id": "include_margins",
          "default": true,
          "label": "t:sections.featured-youtube.settings.include_margins.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
  ]
}
{% endschema %}
{% stylesheet %}
.hero-bg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../assets/history-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}