#ymm_label {
    font-weight: 400 !important;
    color: #f5f5f5 !important;
    max-width: 1100px;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#ymm_searchbox h2 {
    margin: 0 !important;
}
#ymm_searchbox,
.ymm_app {
    background-color: #fe3125;
    border: 0;
    color: #f5f5f5;
    min-height: 200px;
    animation: fadeInAnimation ease 3s;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-width: 100%;
    max-width: 1100px;
}
#ymm_searchbox {
    width: 100%;
    margin: 0 !important;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slideshow__controls {
    display: none !important;
}
.card__heading {
    font-weight: normal;
    font-size: 1.3em !important;
}
.ymm-page-width {
    padding-left: 0;
    padding-right: 0;
}
.grid-view-item__title a {
    font-weight: 400 !important;
    font-size: 1.3em !important;
}
.grid-view-item__title a:hover {
    text-decoration: underline;
}
.ymm-product-price {
    font-size: 16px;
    line-height: 16px;
}
.ymm-grid .grid__item {
    text-align: left;
}
.section-template--17780370309293__page_LCm77t-padding {
}
.video-iframe {
    padding: 0 !important;
}

/* Application Chart Table CSS for product listings */
#tiny-tabs-global-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
#tiny-tabs-global-wrapper tr:nth-of-type(odd) {
  background: #eee;
}
#tiny-tabs-global-wrapper th {
  background: #333;
  color: white;
  font-weight: bold;
}
#tiny-tabs-global-wrapper td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "Year Range"; }
	td:nth-of-type(2):before { content: "Make"; }
	td:nth-of-type(3):before { content: "Chassis Code"; }
	td:nth-of-type(4):before { content: "Model"; }
	td:nth-of-type(5):before { content: "Submodel"; }
	td:nth-of-type(6):before { content: "Engine / Trans / Position"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Notes"; }
}

.page-collection-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.page-collection-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.page-collection-tabs button:hover {
  background-color: #ddd;
}
.page-collection-tabs button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}