/* Custom Tabs CSS */
.customtab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.customtab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.customtab button:hover {
  background-color: #ddd;
}
.customtab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Chart Table CSS similar to product listings */
.tabcontent table {
  width: 100%;
  border-collapse: collapse;
  table-layout: unset;
}
.tabcontent tr:nth-of-type(odd) {
  background: #eee;
}
.tabcontent th {
  background: #333;
  color: white;
  font-weight: bold;
}
.tabcontent td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media screen and (max-width: 750px) {

  .tabcontent table, thead, tbody, th, td, tr {
    font-size: 1rem !important;
  }
  
  .tabcontent table:not([class]) td, table:not([class]) th {
    padding: 0.5em !important;
  }
}