/* Custom Tabs CSS */
.customtab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}
.customtab button {
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.customtab button:hover {
  background-color: #ddd;
}
.customtab button.active {
  cursor: pointer;
  border-style: solid;
  border-color: rgb(229, 66, 66) rgb(229, 66, 66) rgb(255, 255, 255);
  border-width: 1px 1px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 12px 20px;
  margin: 0px 5px 0px 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(229, 66, 66);
  font-weight: 400;
  font-size: 16px;
  z-index: 2;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent a {
  text-decoration: none;
  font-weight: 600;
}

.tabcontent a:hover {
  text-decoration: underline;
}

.tabcontent a:active {
  text-decoration: underline;
}

/* Chart Table CSS similar to product listings */
.tabcontent table {
  width: 100%;
  border-collapse: collapse;
  table-layout: unset;
}
.tabcontent tr:nth-of-type(odd) {
  background: #eee;
}
.tabcontent th {
  background: #333;
  color: white;
  font-weight: bold;
}
.tabcontent td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media screen and (max-width: 750px) {

  .tabcontent table, thead, tbody, th, td, tr {
    font-size: 1rem !important;
  }
  
  .tabcontent table:not([class]) td, table:not([class]) th {
    padding: 0.5em !important;
  }
}